<%- include('header') %>

    <div class="container">
        <div class="note-pad">

            <div>
                <% data.notes.forEach((note, index)=> { %>
                    <form action="/remove" method="POST" class="notes">
                        <input type="checkbox" name="index" id="" value=<%=index %> onchange="this.form.submit()">
                        <input type="hidden" name="note" value=<%=note.note %>>
                        <p>
                            <%= note.note %>
                        </p>
                    </form>
                    <% }) %>
            </div>

            <form action="/" method="post">
                <div class="note-pad-control">
                    <input type="text" class="form-input" name="newNote" maxlength="400">
                    <button class="note-btn">+</button>
                </div>
            </form>
        </div>
    </div>

    <%- include('footer') %>